/* Button elements */

#btn1 {
    background-color: blue;
}

#btn2{
    background-color: green;
}

#btn3{
    background-color: brown;
}

#btn4{
    background-color: aqua;

}

#btn5{
    background-color: coral;
}

ul{
    list-style: none;
}


